.preview-img {
    text-align: center;
}

.preview-img img {
    max-height: 80px;
    max-width: 80px;
}

#file-info {
    padding-top: 50px;
}

.tree-item-header {
    width: 100% !important;
}

.bootgrid-header {
    background: #f5f5f5 !important;
    padding: 5px 0 !important;
}