/* Category */
.shop-block-category .thumbnail h3 {
    top: 60px;
    position: absolute;
    font-size: 1em;
    padding: 5px 15px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    /* margin-right: 25px;
    margin-left: 5px;*/
}

.shop-block-category .thumbnail h3 a {
    color: #fff;
}

.shop-block-category .thumbnail h3 a:hover {
    text-decoration: none;
}

/* Search */
.shopsearchresults {
    display: none;
}

.shop-block-search .dropdown-menu {
    width: 90%;
    margin: -50px 30px 0 30px;
}

.shop-block-search .dropdown-menu li {
    text-align: right;
    border-bottom: 1px solid #ddd ;
}

.shop-block-search .dropdown-menu li img {
    margin: 0 5px;
    height: 40px;
}

.shop-block-search .input-group-addon:last-child {
    border-left: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.shop-block-search .dropdown-menu .dropdown-header {
    background-color: #cccccc;
    padding: 3px 0;
}

.shop-block-search .dropdown-menu .dropdown-header a:hover {
    background-color: #cccccc;
}

/* Customize */
.owl-carousel {
    height: 163px;
}

.owl-carousel .owl-stage {
    height: 160px;
}

.owl-carousel .owl-stage-outer {
    height: 160px;
    z-index: -10;
}

.owl-carousel .owl-item {
    max-height: 160px;
}

.owl-carousel .owl-item img {
    max-height: 100px;
    width: auto;
}

.owl-carousel .owl-item h3 {
    font-size: 1em;
    margin: 3px 1px;
    padding: 1px;
}

.owl-carousel .owl-controls .owl-nav {
    margin-top: -120px;
}