/* Category */
.shop-block-category .thumbnail h3 {
    top: 60px;
    position: absolute;
    font-size: 1em;
    padding: 5px 15px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    /* margin-right: 25px;
    margin-left: 5px;*/
}

.shop-block-category .thumbnail h3 a {
    color: #fff;
}

.shop-block-category .thumbnail h3 a:hover {
    text-decoration: none;
}

/* Search */
.shopsearchresults {
    display: none;
    width: 100%;
    z-index: 1000;
}

.shop-block-search .list-group-item img {
    margin: 0 5px;
    height: 40px;
}