.productBox {
	text-align: center;
} 

/* .caption {
	background-color: #E5E5E5;
	margin-top: 5px;
} */

#cart-list {
	min-height: 250px;
}

.cartBox {
	margin: 10px 0;
}

.cartProductInfo {
	margin-top: 20px;
}

.cartInfo {
	min-width: 300px;
}

.player-media {
	margin: 5px 0;
}

.itemImageAttach {
	margin-top: 10px;
}

.socialSharing {
	margin: 10px;
}

.productInfoBox {
    padding: 5px;
    margin: 5px;
}

.shopWidgetSingle {
    margin-bottom: 5px;
}

/* related products */
.productRelated .thumbnail {

}

.productRelated .thumbnail h3 {
    padding: 0;
    top: 100px;
    position: absolute;
    font-size: 1em;
    padding: 5px 15px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-right: 25px;
    margin-left: 5px;
}

.productRelated .thumbnail h3 a {
    color: #fff;
}

.productRelated .thumbnail h3 a:hover {
    text-decoration: none;
}