.productBox {
	text-align: center;
} 

.caption {
	background-color: #E5E5E5;
	margin-top: 5px;
}

#cart-list {
	min-height: 250px;
}

.cartBox {
	margin: 10px 0;
}

.cartProductInfo {
	margin-top: 20px;
}

.cartInfo {
	min-width: 300px;
}

.player-media {
	margin: 5px 0;
}

.itemImageAttach {
	margin-top: 10px;
}

.socialSharing {
	margin: 10px;
}