/* product list */
.pi-item-angular {
    min-height: 250px;
}

.pi-item-list .page-header h1,
.pi-item-list .page-header h2,
.pi-item-list .page-header h3,
.pi-item-list .page-header h4 {
    font-size: 1.5em;
    padding: 2px 0;
    margin: 2px 0;
}

.pi-item-list .pi-item-box {
    text-align: center;
}

.pi-item-list .pi-item-box h3 {
    margin: 1px;
    padding: 1px;
    font-size: 1.1em;
}

.pi-item-list .pi-item-box img {
    width: 100%;
    height: 160px;
}

.pi-item-list .pi-item-box .caption {
    min-height: 80px;
}

.pi-item-list .pi-item-box:hover .caption {
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.pi-item-list .pi-paginator {
    text-align: center;
}

.pi-item-list .pi-item-compare-add {
    position: absolute;
    cursor: pointer;
    padding: 5px 15px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    left: 21px;
    top: 6px;
    z-index: 10000;
}

.pi-item-list .pi-item-compare-list {
    background: #f5f5f5;
    padding-top: 10px;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    margin-bottom: 15px;
}

.pi-item-list .pi-item-compare-list .col-md-2 {
    padding: 0 3px;
}

.pi-item-list .pi-item-compare-list .thumbnail {
    text-align: center;
}

.pi-item-list .pi-item-compare-list .thumbnail h4 {
    font-size: 0.9em;
    padding: 1px;
    margin: 1px;
}

.pi-item-list .pi-item-compare-list .thumbnail img {
    width: 100%;
    height: 75px;
}

.pi-item-list .pi-item-compare-list .product-compare-button {
    margin-top: 50px;
}

/* product page */
.product-page .product-title h1 {
    font-size: 1.6em;
}

.product-page .product-title h2 {
    font-size: 1.2em;
    color: #9FA0A0;
}

.product-page .product-price-box {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.product-page .product-info-box {
    padding: 5px 0;
    margin: 5px 0;
}

.product-page .product-info-list ul {
    padding: 0;
    margin: 0;
}

.product-page .socialSharing {
    margin: 0;
    padding: 0;
}

/* product-attribute */
.product-attribute .product-attribute-head h2 {
    font-size: 1.3em;
}

/* checkout cart */
.product-cart-box {
    min-height: 250px;
    margin: 10px 0;
}

.product-cart-box .cart-product-single {
    padding-top: 10px;
    padding-bottom: 15px;
}

.product-cart-box .cart-product-single:hover {
    background-color: #f7f7f7;
}

.product-cart-box .cart-product-title {
    margin-bottom: 5px;
}

.product-cart-box .cart-product-title h4 {
    margin: 0;
    padding: 0;
}

.product-cart-box .cart-product-info {
    margin-top: 10px;
}

.product-cart-box .list-unstyled li {
    padding-top: 3px;
    padding-bottom: 3px;
}

/* image gallery */
.product-image .product-image-attach {
    margin-top: 10px;
}

/* homepage widget */
.shop-widget .shop-widget-single {
    margin-bottom: 5px;
}

/* compare page */
.product-compare {
    margin: 0 15px 15px 15px;
}

.product-compare h2 {
    font-size: 1.1em;
    padding: 3px 1px;
    margin: 1px;
}

.product-compare .product-compare-width-1 {
    width: 100%;
    padding: 0;
    margin: 0;
}

.product-compare .product-compare-width-2 {
    width: 50%;
    padding: 0;
    margin: 0;
}

.product-compare .product-compare-width-3 {
    width: 33.33333332%;
    padding: 0;
    margin: 0;
}

.product-compare .product-compare-width-4 {
    width: 25%;
    padding: 0;
    margin: 0;
}

.product-compare .product-compare-width-5 {
    width: 20%;
    padding: 0;
    margin: 0;
}

.product-compare .product-compare-box-title li {
    height: 35px;
    padding: 5px 20px;
    background-color: #666;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.product-compare .product-compare-box-title li.product-compare-box-category {
    height: 35px;
    padding: 5px 20px;
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #fff;
    font-size: 16px;
}

.product-compare .product-compare-box-info li {
    height: 35px;
    padding: 5px 20px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.product-compare .product-compare-box-info li:nth-child(odd) {
    background-color: #eaeaea;
}

.product-compare .product-compare-box-info li:nth-child(even) {
    background-color: #f0f0f0;
}

.product-compare .product-compare-box-info li.product-compare-box-category {
    height: 35px;
    padding: 5px 20px;
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #fff;
    font-size: 16px;
}

.product-compare .thumbnail i {
    position: relative;
    float: right !important;
    margin-top: -15px;
    margin-right: -10px;
    font-size: 18px;
    cursor: pointer;
}

/* owl carousel list */
.owl-carousel-list {
    height: 303px !important;
}

.owl-carousel-list .owl-stage {
    height: 300px !important;
}

.owl-carousel-list .owl-stage-outer {
    height: 300px !important;
}

.owl-carousel-list .owl-item {
    max-height: 300px !important;
}

.owl-carousel-list .owl-item img {
    max-height: 200px !important;
}

.owl-carousel-list .owl-controls .owl-nav {
    margin-top: -200px !important;
}

.owl-carousel-list .product-box {
    text-align: center;
}

.owl-carousel-list .product-box h3 {
    margin: 1px;
    padding: 1px;
    font-size: 1.1em;
}

.owl-carousel-list .product-box img {
    width: 100%;
    height: 160px;
}

.owl-carousel-list .product-box .caption {
    min-height: 80px;
}

.owl-carousel-list .product-box:hover .caption {
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    background-color: #f0f0f0;
    border-radius: 4px;
}

/* owl carousel list for sale products */
.product-sale .owl-carousel-list {
    height: 253px !important;
}

.product-sale .owl-carousel-list .owl-stage {
    height: 250px !important;
}

.product-sale .owl-carousel-list .owl-stage-outer {
    height: 250px !important;
}

.product-sale .owl-carousel-list .owl-item {
    max-height: 250px !important;
}

.product-sale .owl-carousel-list .owl-item img {
    max-height: 140px !important;
}

.product-sale .owl-carousel-list .owl-controls .owl-nav {
    margin-top: -160px !important;
}

/* category list */
.category-list .thumbnail {
    text-align: center;
}

.category-list .thumbnail h3 {
    font-size: 1.2em;
    margin: 1px;
    padding: 1px;
}

.category-list .thumbnail img {
    width: 100%;
    max-height: 150px;
}

.category-list .thumbnail-bg {
    width: 100%;
    height: 150px;
    background-color: #f2f2f2;
    padding-top: 60px;
}

/* ajax loading spinner */
.ajax-spinner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    opacity: 0.75;
}

.ajax-spinner-loader {
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    display: block;
}

/* Sort */
.product-sort {
    padding: 10px 15px;
    margin-bottom: 15px;
    background: #ddd;
}

.product-sort-type {
    cursor: pointer;
}

/* ribbon */
.product-ribbon {
    position: relative;
    display: block;
    color: #434443;
    padding: 0;
    overflow: hidden;
    font-weight: 700;
    font-size: 13px;
}

a.product-ribbon:hover {
    color: #434443;
}

.product-ribbon p {
    display: inline;
}

.product-ribbon p span {
    position: absolute;
    display: inline-block;
    right: -50px;
    text-align: center;
    text-transform: none;
    top: 35px;
    background: #FFC107;
    width: 200px;
    padding: 5px 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

/* countdown */
.product-countdown {
    padding: 15px;
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 10px;
}

/* top description*/
.category-width-description {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    padding: 15px;
    right: 0;
    width: 50%;
    margin-top: 3%;
    margin-right: 5%;
    border-radius: 4px;
}

.category-width-image {
    margin-bottom: 15px;
}

/* Video service */
.video-service-list .video-information {
    margin: 5px 0;
    padding: 10px 0;
}